@import 'bootstrap';

html, body {
  height: 100%;
}

.min-vh-100 {
  min-height: 100vh;
}

.btn-block {
  width: 100%;
}

.custom-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}